body {
  margin: 0;
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  position: fixed;
  /* max-width: 1200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #022130;
  width: 100%;
  /* height: auto; */
  font-size: 50px;
  color: #f8a25b;
  /* padding: 20px; */
  /* flex: 1; */
}
@media only screen and (max-width: 1400px) {
  header {
    /* padding: 20px; */
  }
}

#headerCont {
  display: flex;
  gap: 30px;
  /* align-items: self-end; */
}
@media only screen and (max-width: 1400px) {
  #headerCont {
    justify-content: space-between;
    /* justify-content: center; */
    width: 100%;
    padding: 20px;
  }
}

#weblogo {
  /* margin: 20px; */
  width: 70px;
  height: 70px;
  /* padding-left: 20px; */
}
@media only screen and (max-width: 1400px) {
  #weblogo {
    width: 40px;
    height: 40px;
  }
}
#menuIcon {
  font-size: 30px;
  /* color: #109c06; */
}
#linkPagesContainer {
  /* padding: 20px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* align-items: self-end; */
  gap: 30px;
  font-size: 20px;
  color: #f8a25b;
}
@media only screen and (max-width: 1400px) {
  #linkPagesContainer {
    display: none !important;
    /* flex-direction: column;
    align-items: flex-end; */
  }
}
#arrowMenuContainer {
  display: none !important;
}
@media only screen and (max-width: 1400px) {
  #arrowMenuContainer {
    display: flex !important;

    gap: 30px;
    flex-direction: column;
    /* text-align: end !important; */
    align-items: flex-end;
  }
}
#arrowMenuIcon {
  display: flex;
  justify-content: center;
}
#arrowBtnMenu {
  display: none;
}
@media only screen and (max-width: 1400px) {
  #arrowBtnMenu {
    /* display: flex; */
    /* background-color: red !important; */
    /* align-items: center; */
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: right;
  }
}
.headerNavLinks {
  /* color: #f8a25b; */
  color: whitesmoke;
  /* color: rgb(229, 16, 16); */
  list-style: none;
  text-decoration: none;
  font-size: 19px;
}

/* ****************  */
/* MAIN */
main {
  display: flex;
  gap: 50px;
  flex-direction: column;
  /* display: block;
  position: static !important; */
}

/* ****************  */
/* LANDING PAGE */

#home {
  background-image: url("assets/cars/carBackgroundTwo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f8a25b;
  width: 100%;
  /* height: 100dvh; */
  /* height: 100vh; */
  display: flex;
  justify-content: center;

  /* filter: blur(1px); */
  /* align-items: center; */
  /* padding-top: 50px; */
}
#homeContainer {
  padding-top: 180px;
  display: flex;
  gap: 40px;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: auto;
  /* background-color: #f8a25b; */
}
#sloganContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#slogan {
  color: whitesmoke;
  text-align: center;
  /* background-color: #109c06; */
  font-size: 3em;
  margin: 0;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1400px) {
  #slogan {
    font-size: 3.5rem;
    text-align: left;
  }
}
#secondSlogan {
  color: whitesmoke;
  margin-top: 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.greyShell {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  /* background-color: grey; */
  width: 100%;
}
@media only screen and (max-width: 1400px) {
  .greyShell {
    flex-wrap: wrap;
  }
}
.inputContainer {
  /* background-color: #109c06; */
  display: flex;
  flex-direction: column;
  flex: 2;
}
.inputLabel {
  font-size: 20px;
  font-weight: bold;
  /* color: whitesmoke; */
  color: rgb(251, 251, 251);
}

.inputBox {
  height: 50px;
  border-radius: 5px;
  border: none !important;
  font-size: 20px;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
  box-shadow: none;
  color: rgb(128, 128, 128);
}

#quoteText {
  background-color: #f8a25b;
  border-radius: 25px;
  padding: 15px;
  color: rgb(253, 253, 255);
}
/* ****************  */
/* HOME FIRST SECTIO*/
#homeFirstSection {
  width: 100%;
  /* background-color: #f8a25b; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#hfsHeader {
  display: flex;
  justify-content: center;
  font-size: 45px;
}
@media only screen and (max-width: 1400px) {
  #hfsHeader {
    align-items: center;
    text-align: center;
    font-size: 25px;
  }
}
#crn {
  /* background-color: black; */
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1400px) {
  #crn {
    gap: 20px;
    align-items: center;
    flex-direction: column;
  }
}

.crnCard {
  max-width: 300px;
  /* background-color: blue; */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.crnImagescontent {
  /* background-color: rgb(255, 255, 255); */
  padding: 10px;
}
#hfsHeader h2 {
  font-size: 40px;
  /* color: #ff08b5; */
}
.crnImages {
  border-radius: 10px 10px 0 0;
  /* width: 10%px; */
  /* height: auto; */
  /* height: 250px; */
}
.fa-star {
  color: rgb(255, 161, 10);
}
/* ****************  */
/* SECOND HOME*/
#homeSecondSection {
  /* background-color: #109c06; */
  width: 100%;
  margin-top: 80px;
  display: flex;
  gap: 60px;
  justify-content: center;
  flex-direction: column;
}
#pubsPosterContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.pubCars {
  width: 300px;
  height: auto;
  border-radius: 10px;
}
#carsCatalog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#catalogFirstChild {
  display: flex;

  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
#catalogTitle {
  font-size: 40px;
  margin: 0;
}
#secondCatalogTitle {
  font-size: 20px;
}
#carsCardsContainer {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}
.carsCard {
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 400px;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
.carsImages {
  width: 80%;
  height: auto;
}
.card-conten {
  /* background-color: red; */
}
